@media (min-width: 320px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        width: 100%;
        padding: 0;
    }

    .header-buttons a img {
        display: none;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        width: 100%;

    }

    .header-logoo {
        display: none;
    }




}

@media (min-width: 1200px) {
    .container {

        max-width: 1140px;
        width: 100%;

    }


    .header-link {
        border: 0 !important;
        padding: 0 !important;
    }


    .header-logoo {
        display: none;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1380px;
        width: 100%;

    }

    .header-logoo {
        display: none;
    }

    .header-link {
        border: 0 !important;
        padding: 0 !important;
    }

    .rectangle2 {
        display: none !important;
    }


}

@media (max-width: 1880px) {
    

    .header-intro-form-inputt {
        display: none !important;
    }
    .rectangle2 {
        display: none !important;
    }
} 




@media (max-width: 1199px) {




    .rectangle2 {
        display: none !important;
    }




    .header-list {
        display: flex;
        column-gap: 35px !important;
    }

    .header-list-wrapper {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
    }

    .header-text-wrap {
        justify-content: space-between !important;
    }

    .header-a-wrap {
        display: flex !important;
        flex-direction: row !important;
        column-gap: 20px;

    }

    .bag-logo {
        display: none;

    }




}





@media (max-width: 991px) {
    .header-list {
        overflow-y: scroll !important;
        display: flex !important;
    }


    .list {

        display: flex !important;
        flex-direction: column !important;
        position: fixed !important;
        background-color: aqua !important;
        top: 0 !important;
        left: -100% !important;
        row-gap: 10px !important;
        padding: 20px 20px !important;
        height: 100% !important;
    }


    .rectangle2:focus+.list {
        left: 0 !important;
    }





    .header-logo img {

        display: none !important;
    }

    .rectangle2 {
        display: flex !important;
        order: -1 !important;

    }

    .list-wrapper {


        border-bottom: 1px solid #EEEEEE !important;
        padding-right: 10px !important;
    }

    .list-wrapper {
        display: flex !important;
        justify-content: center !important;
    }

    .header-button {
        display: none !important;
    }

    .header-intro-form-input {
        display: none !important;
    }

}